<html>
    <header><title>Data Project</title></header>

    <body>
        <h1>Welcome to our Data Project </h1>
        <h2>Numpy methods dictionary</h2>

        <h3>Matrix characteristics</h3>
        <p>Matrix 1: {{matrix1}}</p>
        <p>matrix 1 shape: {{matrix_shape}}</p>
        <p>matrix 1 length: {{matrix_length}}</p>
        <p>matrix 1 number of elements: {{matrix_number_of_elements}}</p>
        <p>matrix 1 dimensions: {{matrix_dimensions}}</p>

        <h3>Matrix basic operations</h3>
        <p>Matrix 2: {{matrix2}}</p>
        <p>Matrix addtion: {{matrix_addtion}}</p>
        <p>Matrix subtraction: {{matrix_subtract}}</p>
        <p>Matrix multiplication: {{matrix_multiplication}}</p>
        <p>Matrix division: {{matrix_divide}}</p>

        <h3>Matrix math operations</h3>
        <p>exponentiation: {{matrix_exponentiation}}</p>
        <p>square_root: {{matrix_square_root}}</p>
        <p>sin: {{matrix_sin}}</p>
        <p>cos: {{matrix_cos}}</p>
        <p>log: {{matrix_log}}</p>

        <h3>Other operations</h3>
        <p>wise_sum: {{matrix_wise_sum}}</p>
        <p>wise_minimum_value: {{matrix_wise_minimum_value}}</p>
        <p>maximum_value_of_a_row: {{matrix_maximum_value_of_a_row}}</p>
        <p>cumulative_sum_of_a_row: {{matrix_cumulative_sum_of_a_row}}</p>
        <p>mean: {{matrix_mean}}</p>
        <p>median: {{matrix_median}}</p>
        <p>correlation_coeficient: {{matrix_correlation_coeficient}}</p>
        <p>standard_deviation: {{matrix_standard_deviation}}</p>

    </body>
</html>